[Unit]
Description=OpenStack Nova API Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
#User=root
User=nova
ExecStart=/usr/bin/nova-api --config-dir=/etc/nova --log-dir=/var/log/nova

[Install]
WantedBy=multi-user.target

